In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from datetime import datetime
import seaborn as sns

%matplotlib inline

In [3]:
atp20 = pd.read_csv('./data/atp_matches_2020.csv')
atp19 = pd.read_csv('./data/atp_matches_2019.csv')
atp18 = pd.read_csv('./data/atp_matches_2018.csv')

In [4]:
#list of all tables
all_tables = [atp18, atp19, atp20]

#concatenating all the tables in one 
atp = pd.concat(all_tables, axis=0, join='outer', ignore_index=True)
atp

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2018-M020,Brisbane,Hard,32,A,20180101,271,105992,NaN,NaN,...,47.0,33.0,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0
1,2018-M020,Brisbane,Hard,32,A,20180101,272,111577,NaN,NaN,...,41.0,25.0,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0
2,2018-M020,Brisbane,Hard,32,A,20180101,273,104797,NaN,NaN,...,53.0,37.0,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0
3,2018-M020,Brisbane,Hard,32,A,20180101,275,200282,NaN,WC,...,43.0,33.0,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0
4,2018-M020,Brisbane,Hard,32,A,20180101,276,111581,NaN,Q,...,35.0,28.0,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7112,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,4,D,20200306,2,105668,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,461.0,68.0,960.0,11.0
7113,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,4,D,20200306,4,209874,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7114,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4,D,20200306,1,208518,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813.0,18.0
7115,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4,D,20200306,2,111761,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,430.0,79.0,NaN,NaN
7116,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4,D,20200306,4,111761,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,430.0,79.0,NaN,NaN

In [8]:
atp[(atp.winner_name == 'Hady Habib') | (atp.loser_name == 'Hady Habib')]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
345,2018-M-DC-2018-G2-AO-M-LBN-TPE-01,Davis Cup G2 R1: LBN vs TPE,Hard,4,D,20180203,2,200273,NaN,NaN,...,32.0,23.0,9.0,9.0,4.0,6.0,1070.0,8.0,598.0,48.0
963,2018-M-DC-2018-G2-AO-M-HKG-LBN-01,Davis Cup G2 R2: HKG vs LBN,Hard,4,D,20180407,2,200273,NaN,NaN,...,51.0,34.0,21.0,13.0,6.0,8.0,981.0,11.0,978.0,11.0
2433,2018-M-DC-2018-G2-AO-M-THA-LBN-01,Davis Cup G2 R3: THA vs LBN,Hard,4,D,20180915,1,200273,NaN,NaN,...,44.0,37.0,19.0,15.0,1.0,3.0,643.0,40.0,453.0,82.0
2436,2018-M-DC-2018-G2-AO-M-THA-LBN-01,Davis Cup G2 R3: THA vs LBN,Hard,4,D,20180915,5,200273,NaN,NaN,...,30.0,19.0,8.0,9.0,1.0,4.0,643.0,40.0,1398.0,3.0
5560,2019-M-DC-2019-G1-AO-M-UZB-LBN-01,Davis Cup G1 R1: UZB vs LBN,Clay,4,D,20190913,1,122109,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,362.0,102.0,671.0,30.0
5563,2019-M-DC-2019-G1-AO-M-UZB-LBN-01,Davis Cup G1 R1: UZB vs LBN,Clay,4,D,20190913,5,127300,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,873.0,14.0,671.0,30.0

In [12]:
hard_sf = atp.surface == 'Hard'
hard_surf = atp[hard_sf]

In [13]:
hard_surf.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2018-M020,Brisbane,Hard,32,A,20180101,271,105992,NaN,NaN,...,47.0,33.0,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0
1,2018-M020,Brisbane,Hard,32,A,20180101,272,111577,NaN,NaN,...,41.0,25.0,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0
2,2018-M020,Brisbane,Hard,32,A,20180101,273,104797,NaN,NaN,...,53.0,37.0,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0
3,2018-M020,Brisbane,Hard,32,A,20180101,275,200282,NaN,WC,...,43.0,33.0,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0
4,2018-M020,Brisbane,Hard,32,A,20180101,276,111581,NaN,Q,...,35.0,28.0,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0

In [14]:
#dropping unneccesary columns
hard_surf.drop(['winner_seed', 'loser_seed','winner_ht','loser_ht', 'surface','tourney_name','draw_size', 'winner_entry','loser_entry', 'winner_ioc', 'loser_ioc', 'winner_hand','loser_hand','tourney_level','tourney_date', 'w_bpFaced','l_bpFaced', 'best_of', 'loser_rank_points', 'winner_rank_points'], axis=1, inplace=True)

/Users/kbhunjan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
#checking for missing values
hard_surf.isnull().sum()

tourney_id       0
match_num        0
winner_id        0
winner_name      0
winner_age       2
loser_id         0
loser_name       0
loser_age        7
score           11
round            0
minutes        137
w_ace          129
w_df           129
w_svpt         129
w_1stIn        129
w_1stWon       129
w_2ndWon       129
w_SvGms        129
w_bpSaved      129
l_ace          129
l_df           129
l_svpt         129
l_1stIn        129
l_1stWon       129
l_2ndWon       129
l_SvGms        129
l_bpSaved      129
winner_rank     22
loser_rank      82
dtype: int64

In [16]:
#dropping the rows which have no stats because they were walkovers 
#creating a new dataframe w/o the null valuess
hard_new = hard_surf.dropna(subset = ['w_ace'])

In [17]:
hard_new.head()

,tourney_id,match_num,winner_id,winner_name,winner_age,loser_id,loser_name,loser_age,score,round,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,winner_rank,loser_rank
0,2018-M020,271,105992,Ryan Harrison,25.653662,104919,Leonardo Mayer,30.633812,6-4 3-6 6-2,R32,...,10.0,3.0,80.0,47.0,33.0,19.0,14.0,1.0,47.0,52.0
1,2018-M020,272,111577,Jared Donaldson,21.229295,111442,Jordan Thompson,23.701574,6-2 6-4,R32,...,3.0,5.0,62.0,41.0,25.0,7.0,9.0,7.0,54.0,94.0
2,2018-M020,273,104797,Denis Istomin,31.318275,106000,Damir Dzumhur,25.618070,6-7(4) 6-3 6-2,R32,...,8.0,6.0,120.0,53.0,37.0,29.0,15.0,10.0,63.0,30.0
3,2018-M020,275,200282,Alex De Minaur,18.872005,105449,Steve Johnson,28.021903,7-6(7) 6-4,R32,...,6.0,2.0,80.0,43.0,33.0,17.0,11.0,4.0,208.0,44.0
4,2018-M020,276,111581,Michael Mmoh,19.975359,105643,Federico Delbonis,27.241615,6-3 6-4,R32,...,4.0,0.0,45.0,35.0,28.0,5.0,9.0,0.0,175.0,68.0

In [18]:
hard_new.isnull().sum()

tourney_id      0
match_num       0
winner_id       0
winner_name     0
winner_age      0
loser_id        0
loser_name      0
loser_age       3
score           0
round           0
minutes        14
w_ace           0
w_df            0
w_svpt          0
w_1stIn         0
w_1stWon        0
w_2ndWon        0
w_SvGms         0
w_bpSaved       0
l_ace           0
l_df            0
l_svpt          0
l_1stIn         0
l_1stWon        0
l_2ndWon        0
l_SvGms         0
l_bpSaved       0
winner_rank    12
loser_rank     47
dtype: int64

In [19]:
#listing the rows with missing winner/loser stats

hard_new[hard_new.minutes.isnull()]

,tourney_id,match_num,winner_id,winner_name,winner_age,loser_id,loser_name,loser_age,score,round,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,winner_rank,loser_rank
2635,2018-5014,271,106065,Marco Cecchinato,26.020534,111202,Hyeon Chung,22.387406,4-6 7-6(5) 7-6(5),R32,...,6.0,0.0,109.0,84.0,57.0,15.0,17.0,2.0,21.0,26.0
2636,2018-5014,272,126774,Stefanos Tsitsipas,20.156057,111575,Karen Khachanov,22.381930,6-4 7-6(8),R32,...,5.0,0.0,75.0,50.0,41.0,11.0,11.0,2.0,15.0,27.0
2637,2018-5014,273,104731,Kevin Anderson,32.391513,105062,Mikhail Kukushkin,30.784394,6-3 6-2,R32,...,1.0,2.0,51.0,32.0,15.0,12.0,8.0,0.0,8.0,83.0
2638,2018-5014,274,100644,Alexander Zverev,21.467488,105932,Nikoloz Basilashvili,26.622861,7-5 6-4,R32,...,9.0,5.0,73.0,46.0,32.0,12.0,11.0,7.0,5.0,23.0
2639,2018-5014,275,200282,Alex De Minaur,19.638604,105332,Benoit Paire,29.418207,6-4 6-3,R32,...,1.0,0.0,60.0,27.0,18.0,16.0,9.0,3.0,33.0,62.0
2640,2018-5014,276,106378,Kyle Edmund,23.748118,104312,Andreas Seppi,34.628337,6-3 6-4,R32,...,3.0,2.0,62.0,39.0,28.0,9.0,9.0,3.0,14.0,47.0
2645,2018-5014,281,105223,Juan Martin del Potro,30.039699,104755,Richard Gasquet,32.306639,7-5 7-6(7),R32,...,12.0,0.0,77.0,60.0,44.0,8.0,12.0,1.0,4.0,25.0
2646,2018-5014,282,105453,Kei Nishikori,28.774812,200059,Yibing Wu,18.984257,3-6 6-0 6-3,R32,...,3.0,1.0,75.0,47.0,32.0,9.0,12.0,5.0,12.0,415.0
2647,2018-5014,283,105023,Sam Querrey,31.003422,126203,Taylor Fritz,20.944559,6-3 6-7(4) 7-5,R32,...,12.0,3.0,95.0,61.0,42.0,21.0,16.0,1.0,57.0,59.0
2648,2018-5014,284,105138,Roberto Bautista Agut,30.483231,111456,Mackenzie McDonald,23.479808,3-6 6-4 6-1,R32,...,5.0,3.0,83.0,59.0,39.0,8.0,13.0,8.0,28.0,78.0
2649,2018-5014,285,103819,Roger Federer,37.166324,106421,Daniil Medvedev,22.655715,6-4 4-6 6-4,R32,...,5.0,3.0,101.0,66.0,42.0,19.0,15.0,4.0,2.0,22.0
3200,2019-0375,280,104542,Jo-Wilfried Tsonga,33.801506,200005,Ugo Humbert,20.610541,3-6 7-6(5) 6-4,R32,...,17.0,3.0,115.0,72.0,59.0,19.0,16.0,8.0,210.0,86.0
5189,2019-M015,287,105023,Sam Querrey,31.980835,106043,Diego Schwartzman,27.121150,7-6(2) 6-7(6) 6-3,R16,...,5.0,0.0,99.0,67.0,44.0,19.0,16.0,1.0,55.0,16.0
5384,2019-0328,290,105936,Filip Krajinovic,27.646817,104926,Fabio Fognini,32.410678,6-2 6-4,R16,...,7.0,3.0,65.0,33.0,27.0,10.0,9.0,5.0,46.0,12.0

In [20]:
#make function for getting the win pct over the past 3 years for any player 
#win pct = # of wins/# matches played
players = ['Fabio Fognini']

hard_new[(hard_new.winner_name == 'Hady Habib') | (hard_new.loser_name == 'Hady Habib')]

,tourney_id,match_num,winner_id,winner_name,winner_age,loser_id,loser_name,loser_age,score,round,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,winner_rank,loser_rank
345,2018-M-DC-2018-G2-AO-M-LBN-TPE-01,2,200273,Hady Habib,19.441478,134120,Kuan Yi Lee,21.388090,6-4 6-3,RR,...,1.0,2.0,47.0,32.0,23.0,9.0,9.0,4.0,1070.0,598.0
963,2018-M-DC-2018-G2-AO-M-HKG-LBN-01,2,200273,Hady Habib,19.613963,124022,Chun Hun Wong,22.422998,6-4 1-6 6-4,RR,...,4.0,3.0,84.0,51.0,34.0,21.0,13.0,6.0,981.0,978.0
2433,2018-M-DC-2018-G2-AO-M-THA-LBN-01,1,200273,Hady Habib,20.054757,106397,Wishaya Trongcharoenchaikul,23.425051,4-6 7-6(2) 5-3 RET,RR,...,10.0,3.0,81.0,44.0,37.0,19.0,15.0,1.0,643.0,453.0
2436,2018-M-DC-2018-G2-AO-M-THA-LBN-01,5,200273,Hady Habib,20.054757,207139,Palaphoom Kovapitukted,18.765229,6-3 6-3,RR,...,1.0,3.0,47.0,30.0,19.0,8.0,9.0,1.0,643.0,1398.0

In [21]:
wins = hard_new.groupby(['winner_name']).winner_name.agg(['count'])

In [22]:
wins

                          count
winner_name
Adrian Mannarino             49
Adrian Menendez Maceiras      2
Adrian Ungur                  1
Albert Ramos                 16
Alberto Lim                   2
...                         ...
Yuki Bhambri                  4
Ze Zhang                      2
Zhe Li                        1
Zhizhen Zhang                 2
Zsombor Piros                 1

[288 rows x 1 columns]

In [23]:
win = hard_new['winner_name'].value_counts()

In [24]:
win

Daniil Medvedev       110
Novak Djokovic         96
Alexander Zverev       85
Stefanos Tsitsipas     83
Andrey Rublev          81
                     ...
Maxime Cressy           1
Jenson Brooksby         1
Jurabek Karimov         1
Daniel Brands           1
Nicolas Alvarez         1
Name: winner_name, Length: 288, dtype: int64

In [25]:
win.to_frame()

                    winner_name
Daniil Medvedev             110
Novak Djokovic               96
Alexander Zverev             85
Stefanos Tsitsipas           83
Andrey Rublev                81
...                         ...
Maxime Cressy                 1
Jenson Brooksby               1
Jurabek Karimov               1
Daniel Brands                 1
Nicolas Alvarez               1

[288 rows x 1 columns]

In [26]:
win = win.reset_index()

In [27]:
win.columns

Index(['index', 'winner_name'], dtype='object')

In [28]:
win.rename(columns = {'index':'player', 'winner_name':'wins'}, inplace=True)

In [29]:
win

                 player  wins
0       Daniil Medvedev   110
1        Novak Djokovic    96
2      Alexander Zverev    85
3    Stefanos Tsitsipas    83
4         Andrey Rublev    81
..                  ...   ...
283       Maxime Cressy     1
284     Jenson Brooksby     1
285     Jurabek Karimov     1
286       Daniel Brands     1
287     Nicolas Alvarez     1

[288 rows x 2 columns]

In [30]:
loss = hard_new['loser_name'].value_counts()
loss.to_frame()
loss = loss.reset_index()
loss.rename(columns = {'index':'player', 'loser_name':'losses'}, inplace=True)
loss

                 player  losses
0      Adrian Mannarino      52
1      Denis Shapovalov      49
2          Benoit Paire      48
3       Karen Khachanov      46
4    Stefanos Tsitsipas      46
..                  ...     ...
409        Harold Mayot       1
410      Roman Hassanov       1
411        Alen Avidzba       1
412      Joris De Loore       1
413           Evan King       1

[414 rows x 2 columns]

In [31]:
final_hard = win.merge(loss, on='player', how = 'left')

In [32]:
final_hard

                 player  wins  losses
0       Daniil Medvedev   110    35.0
1        Novak Djokovic    96    18.0
2      Alexander Zverev    85    36.0
3    Stefanos Tsitsipas    83    46.0
4         Andrey Rublev    81    42.0
..                  ...   ...     ...
283       Maxime Cressy     1     1.0
284     Jenson Brooksby     1     2.0
285     Jurabek Karimov     1     NaN
286       Daniel Brands     1     1.0
287     Nicolas Alvarez     1     NaN

[288 rows x 3 columns]

In [34]:
final_hard.isnull().sum()

player     0
wins       0
losses    25
dtype: int64

In [57]:
final[final.losses.isnull()]

                      player  wins  losses
193               Hady Habib     4     NaN
218            Jurgen Melzer     2     NaN
223              Alberto Lim     2     NaN
264         Francisco Llanes     1     NaN
269             Rodrigo Arus     1     NaN
272   Patrik Niklas Salminen     1     NaN
278         Khumoun Sultanov     1     NaN
282              Holger Rune     1     NaN
284         Daniel Michalski     1     NaN
288          Jurabek Karimov     1     NaN
311  Lukas Hellum Lilleengen     1     NaN
312         Daniel Cukierman     1     NaN
316             Bogdan Borza     1     NaN
317             Skyler Butts     1     NaN
318      Luis David Martinez     1     NaN
321       Cristian Rodriguez     1     NaN
323      Sharmal Dissanayake     1     NaN
325      Anthony Jackie Tang     1     NaN
331          Edris Fetisleam     1     NaN
336    M Abid Ali Khan Akbar     1     NaN
340           Duilio Beretta     1     NaN
343             Finn Tearney     1     NaN
347              Yshai Oliel     1     NaN
351              Dragos Dima     1     NaN

In [35]:
final_hard['losses'] = final_hard['losses'].fillna(0)

In [36]:
final_hard

                 player  wins  losses
0       Daniil Medvedev   110    35.0
1        Novak Djokovic    96    18.0
2      Alexander Zverev    85    36.0
3    Stefanos Tsitsipas    83    46.0
4         Andrey Rublev    81    42.0
..                  ...   ...     ...
283       Maxime Cressy     1     1.0
284     Jenson Brooksby     1     2.0
285     Jurabek Karimov     1     0.0
286       Daniel Brands     1     1.0
287     Nicolas Alvarez     1     0.0

[288 rows x 3 columns]

In [37]:
final_hard['matches'] = final_hard['wins'] + final_hard['losses']

In [38]:
final_hard

                 player  wins  losses  matches
0       Daniil Medvedev   110    35.0    145.0
1        Novak Djokovic    96    18.0    114.0
2      Alexander Zverev    85    36.0    121.0
3    Stefanos Tsitsipas    83    46.0    129.0
4         Andrey Rublev    81    42.0    123.0
..                  ...   ...     ...      ...
283       Maxime Cressy     1     1.0      2.0
284     Jenson Brooksby     1     2.0      3.0
285     Jurabek Karimov     1     0.0      1.0
286       Daniel Brands     1     1.0      2.0
287     Nicolas Alvarez     1     0.0      1.0

[288 rows x 4 columns]

In [39]:
final_hard['win_pct'] = final_hard['wins']/final_hard['matches']

In [40]:
final_hard

                 player  wins  losses  matches   win_pct
0       Daniil Medvedev   110    35.0    145.0  0.758621
1        Novak Djokovic    96    18.0    114.0  0.842105
2      Alexander Zverev    85    36.0    121.0  0.702479
3    Stefanos Tsitsipas    83    46.0    129.0  0.643411
4         Andrey Rublev    81    42.0    123.0  0.658537
..                  ...   ...     ...      ...       ...
283       Maxime Cressy     1     1.0      2.0  0.500000
284     Jenson Brooksby     1     2.0      3.0  0.333333
285     Jurabek Karimov     1     0.0      1.0  1.000000
286       Daniel Brands     1     1.0      2.0  0.500000
287     Nicolas Alvarez     1     0.0      1.0  1.000000

[288 rows x 5 columns]

In [41]:
final_hard[final_hard['win_pct'] == 1]

                       player  wins  losses  matches  win_pct
163                Hady Habib     4     0.0      4.0      1.0
187             Jurgen Melzer     2     0.0      2.0      1.0
191            Manuel Sanchez     2     0.0      2.0      1.0
192               Alberto Lim     2     0.0      2.0      1.0
196     Karim Mohamed Maamoun     2     0.0      2.0      1.0
201         Ricardo Rodriguez     2     0.0      2.0      1.0
208            Jose Hernandez     2     0.0      2.0      1.0
216  Frederico Ferreira Silva     1     0.0      1.0      1.0
217   John Bryan Decasa Otico     1     0.0      1.0      1.0
219              Rodrigo Arus     1     0.0      1.0      1.0
220               Dragos Dima     1     0.0      1.0      1.0
221               Holger Rune     1     0.0      1.0      1.0
222   Lukas Hellum Lilleengen     1     0.0      1.0      1.0
233              Skyler Butts     1     0.0      1.0      1.0
236          Daniel Michalski     1     0.0      1.0      1.0
240              Bogdan Borza     1     0.0      1.0      1.0
248           Edris Fetisleam     1     0.0      1.0      1.0
254       Anthony Jackie Tang     1     0.0      1.0      1.0
257       Luis David Martinez     1     0.0      1.0      1.0
263            Roberto Quiroz     1     0.0      1.0      1.0
273        Cristian Rodriguez     1     0.0      1.0      1.0
275              Finn Tearney     1     0.0      1.0      1.0
276              Adrian Ungur     1     0.0      1.0      1.0
285           Jurabek Karimov     1     0.0      1.0      1.0
287           Nicolas Alvarez     1     0.0      1.0      1.0